@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #1e1e1e;
  --accent-dark: #c8ff00;
  --accent-light: #4169e1;
}

.name-text {
  font-family: 'Big Shoulders Display', sans-serif;
  letter-spacing: -0.02em;
}

.description-text .fontcss {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.02em;
}
.fontcss{
  font-family: 'DM Sans', sans-serif;
}
